body {
  background-color: #fafafa; }

.container {
  background-color: #fcfcfc; }
  .container .navbar {
    border: none;
    background-color: #fcfcfc; }
  .container textarea.five-hundred-characters {
    height: 6.3125rem; }
